services:
  clarify-app:
    build:
      context: ./app
    env_file:
      - .env
    environment:
      - USE_SQLITE=true
      - SQLITE_DB_PATH=../dist/clarify.sqlite
      - CLARIFY_ENCRYPTION_KEY=${CLARIFY_ENCRYPTION_KEY}
    ports:
      - "3000:3000"
    volumes:
      - ./dist:/app/dist
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
    shm_size: '2gb'
